:root {
  --white: #ffffff;
  --black: #000000;
  --error: #f00;
  --red: #e24339;
  --red2: #be1622;
  --red3: #d0d7dd;
  --primary: #183a60;
  --border: #524242;
  --text: #011e3a;
  --text2: #132033;
  --text3: #383838;
  --text4: #333;
  --gray-light: #f7f8fa;
  --gray-light2: #e9ebf0;
  --gray-1000: #dbdade;
  --gray-900: #dadada;
  --gray-800: #e1e1e1;
  --gray-700: #f3f3f3;
}
